<div id="dec" class="animate__animated animate__slideInUp">
    <h3>Bienvenue sur Z-Ryk Music</h3>
    <p>
        Nous vous proposons d'écouter
        <br> grâce à notre lecteur Sam,
        <br> des musiques réalisées
        <br> par des logiciels de MAO
        <br> (Musique Assistée par Ordinateur).

    </p>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <p>
        Logiciels utilisés : MuseScore3
        <br> Technologie Web : AngularJS
    </p>
    <br>
    <br>
    <hr>
    <p class="emphase">
        <br>
        <br>
        <br> Développeur informatique
        <br> et musicien à mes heures,
        <br> je vous présente quelques uns
        <br> de mes projets musicaux.
    </p>
    <span id="auth">Z-Ryk</span>
    <br><br>

</div>