#main {
    width: 20%;
    background-color: slategray;
    min-height: calc(100vh - 4em);
    position: absolute;
    top: 4em;
    left: 0;
}

h3 {
    text-align: center;
}

li {
    list-style: none;
}